# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
env/

# Backups folder
backups/
OG/
Feeder_csv/
# CSV data files (if you don't want to push live data)
*.csv

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/